* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popins", sans-serif;
}

body {
  background-color: #000000;
  color: #ffffff; /* para manter o texto visível */
}

.calculator {
  width: 700px;
  height: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input {
  width: 100%;
  height: 80px;
  color: #ffffff;
  background-color: #333333;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 2em;
  text-align: right;
  border: none;
  outline: 1px solid #555555;
  border-radius: 5px;
}

.types {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.types button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  background-color: #444444;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.types button:hover {
  background-color: #555555;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.buttons button {
  padding: 20px;
  background-color: #444444;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5em;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #555555;
}